@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;800&display=swap');


body {
  min-height: 100%;
  background-color: black;
  font-family: 'Roboto Mono', monospace;
  color: white;
}

.App {
  text-align: center;
  height: 100%;
  margin-bottom: -70px;
}

.app-inside {
  padding: 20px;
  padding-bottom: 70px;
  align-content: center;
}

